@tailwind base;
@tailwind components;
@tailwind utilities;

.Grid {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: row;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Cell {
    flex: 1;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
}

.hand-icon.hand-90 {
    transform: rotate(90deg);
}

.hand-icon.hand-180 {
    transform: rotate(180deg);
}

.hand-icon.hand-270 {
    transform: rotate(270deg);
}